<div id="<%= dom_id content %>">
  <p>
    <strong>User:</strong>
    <%= content.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= content.title %>
  </p>

  <p>
    <strong>Content text:</strong>
    <%= content.content_text %>
  </p>

</div>
