<% content_for :title, "Editing content" %>

<%= turbo_frame_tag "main-content" do %>
  <h1 class="d-flex mt-4 justify-content-between align-items-center">
    Editing content
    <%= link_to topic_content_path(@content), class: "btn btn-link" do %>
      <i class="bi bi-eye" style="font-size: 1.2em; color: hotpink;"></i>
    <% end %>
  </h1>

  <%= render "form", content: @content %>

  <br>
<% end %>
