.message
  %div.flex{class: message.user == Current.user ? 'justify-end' : 'justify-start'}
    %div.bg-white.dark:bg-gray-800.rounded-lg.p-3.shadow-md
      %p.text-sm.text-gray-800.dark:text-gray-500= message.body