%h1 THis is the home page. We can create HTML tags by prefixing the name of the tag with a percentage %sign 
%div.text-center We can add classes by prefixing them with a dot. 
%div#right-text.text-center.text-xl We can add IDs by prefixing them with a pound sign.

- if @instance_variable
  %div= @instance_variable
- else
  %div
    data not found