<% content_for :title, "New multiple choice quiz" %>

<turbo-frame id="main-content">
  <h3 style="padding-top: 33px;">Create <%= @topic.name %> Quiz</h3>

  <%= render "form", multiple_choice_quiz: @multiple_choice_quiz %>

  <br>

  <div>
    <%= link_to "Back to multiple choice quizzes", topic_path(@topic) %>
  </div>
</turbo-frame>
