<h1>Forgot your password?</h1>
<%= form_with url: passwords_path, local: true, class: "form-group" do |form| %>
  <div class="mb-3">
    <%= form.label :email_address, "Email address", class: "form-label" %>
    <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "form-control" %>
  </div>
  <%= form.submit "Email reset instructions", class: "btn btn-primary" %>
<% end %>
