.mb-2.mx-auto.bg-white.dark:bg-gray-800.shadow-md.rounded-lg.mt-6.border-r-4.border-pink-400.dark:border-pink-400.flex
  = image_tag course.image, class: "rounded h-40 w-40"
  .p-4.flex.flex-col.justify-between
    %h2.text-2xl.font-semibold.text-gray-900.dark:text-gray-100
      = link_to course.title, course_path(course)
    %p.mb-4.text-sm.text-gray-500.dark:text-gray-400
      By: 
      = link_to course.user.username, user_path(course.user), class: "text-pink-500.dark:text-pink-400"
    %p.text-xs.text-gray-700.dark:text-gray-300.mb-4= course.description
