- if @course.chapters.any?
  .mt-4
    - @course.chapters.order(:number).each do |chapter|
      = render partial: 'chapters/chapter', locals: { chapter: chapter }
- else
  %p.p-4.mb-10.mt-20.text-gray-500.place-self-center= "This course is empty. Add a chapter and create some lessons!"

- if authenticated? && Current.user == @course.user
  .mt-6.mx-3
    = render 'chapters/form'