<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
        <title>Daily Email</title>
    </head>
    <body>
        <h1>Daily Email</h1>
        <p>Hello <%= @user.name %>,</p>
        <p>Here is your daily update:</p>
        <p>Thank you for staying with us!</p>
        <p>Best regards,</p>
        <p>CodeQuest</p>
    </body>
</html>