/* Specify the dark mode colors */

body.dark-mode {
    background-color: #111;
    color: lightgray;
}

body.dark-mode {
    color: lightgray;
}

body.dark-mode table {
    color: lightgray;
}

body.dark-mode a, 
body.dark-mode h3 {
    color: lightgray;
}

body.dark-mode form,
body.dark-mode form label {
    background-color: transparent;
}

body.dark-mode input,
body.dark-mode textarea,
body.dark-mode trix-editor,
body.dark-mode select {
    background-color: transparent;
    color: lightgray;
    border: 1px solid #555;
}

body.dark-mode input::placeholder,
body.dark-mode textarea::placeholder {
    color: #888;
}

body.dark-mode input:focus,
body.dark-mode textarea:focus,
body.dark-mode trix-editor:focus,
body.dark-mode select:focus {
    background-color: #333;
    color: lightgray;
    border: 1px solid hotpink;
}

body.dark-mode input:disabled,
body.dark-mode textarea:disabled,
body.dark-mode trix-editor:disabled,
body.dark-mode select:disabled {
    background-color: transparent;
    color: #888;
    border: 1px solid #555;
}

body.dark-mode .btn-primary {
    background-color: hotpink;
    color: white;
    border: none;
}

body.dark-mode .card,
body.dark-mode .card-header,
body.dark-mode .card-body {
    background-color: transparent;
    color: lightgray;
    border: 1px solid hotpink;
}

body.dark-mode pre {
    background-color: #333;
    color: lightgray;
    border: 1px solid #555;
}

body.dark-mode .list-group-item {
    background-color: transparent;
    color: lightgray;
}

body.dark-mode .trix-button--icon {
    background-color: hotpink;
    border: 1px solid hotpink;
}