.sidebar-collapsed {
    width: 0;
    overflow: hidden;
}
.sidebar-expanded {
    width: 250px;
}
.expand-btn {
    font-size: 2.0em;
    color: hotpink;
    cursor: pointer;
}
.vertical-line {
    border-left: 2px solid hotpink;
    height: 100%;
    display: block;
}

