<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> alert-dismissible fade show" role="alert" style="position: relative; padding-bottom: 0.5rem;">
        <%= value %>
        <div class="progress" style="height: 2px; position: absolute; bottom: 0; left: 0; right: 0; margin-bottom: 0;">
            <div class="progress-bar bg-<%= key %>" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% end %>

<script>
$(document).ready(function() {
    $('.alert').each(function() {
        var $alert = $(this);
        var $progressBar = $alert.find('.progress-bar');
        $progressBar.animate({ width: '0%' }, 5000, function() { // Adjusted to 5 seconds
            $alert.alert('close');
        });
    });
});
</script>