%nav.flex.items-center.justify-between.px-4.py-2.bg-white.border-b.border-shadow-xl.dark:border-gray-700.dark:bg-gray-800.dark:text-white{ "data-controller": "navbar" }
  %a{ href: root_path }
    = heroicon "command-line", variant: :outline, options: { class: "w-8 h-8 mr-2 dark:text-pink-400" }
  %a.font-bold.text-lg{ href: root_path }
    CodeBooks
  .hidden.md:flex.ml-4
    %a.text-sm.ml-4{ href: courses_path }
      Discover
    %a.text-sm.ml-4{ href: new_course_path }
      Create
  .hidden.md:flex.items-center.ml-auto
    = render "application/navbar_buttons"
  = render "application/mobile_dropdown"