%nav.bg-white.border-b.border-shadow-xl.dark:border-gray-700.dark:bg-gray-800.dark:text-white{ "data-controller": "navbar" }
  .container.mx-auto
    .flex.justify-between.items-center
      .flex.justify-between.items-center
        %a.flex.items-center.font-bold.text-lg{ href: root_path }
          = heroicon "command-line", variant: :outline, options: { class: "w-8 h-8 mr-2 dark:text-pink-400" }
          CodeQuest
        %a.flex.items-center.ml-4.text-sm{ href: courses_path }
          Discover
        %a.flex.items-center.ml-4.text-sm{ href: new_course_path }
          Create
      .flex.items-center.space-y-2.md:space-y-0.md:space-x-2.py-1
        .form-group.flex
          .relative
            %input{ type: "text", name: "search", class: "block w-full my-2 pl-8 pr-2 py-1 border border-gray-400 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm h-8 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"}
            %span.absolute.inset-y-0.left-0.flex.items-center.pl-2.pointer-events-none
              = heroicon "magnifying-glass", options: { class: "text-gray-400 dark:text-gray-300", style: "width: 16px; height: 16px;" }
        .border-l.border-gray-500.h-8.mx-2
        .button-secondary-small{ "data-action": "click->navbar#toggleDarkMode" }
          = heroicon "sun", variant: :outline, options: { class: "text-gray-400 dark:text-gray-300", style: "width: 16px; height: 16px;" }
        = render "application/navbar_buttons"