%span.text-xs.font-semibold.mr-2.px-2.py-2.border.border-gray-700.rounded-full
  = heroicon "hand-thumb-up", variant: :outline, options: { class: "h-4 w-4" }
  = heroicon "hand-thumb-down", variant: :outline, options: { class: "h-4 w-4" }