<div class="d-flex justify-content-center">
    <%= link_to "/auth/google_oauth2", class: "btn btn-outline-primary m-2" do %>
        <i class="bi bi-google"></i> Login with Google
    <% end %>
    <%= link_to "/auth/discord", class: "btn btn-outline-primary m-2" do %>
        <i class="bi bi-discord"></i> Login with Discord
    <% end %>
    <%= link_to "/auth/github", class: "btn btn-outline-primary m-2" do %>
        <i class="bi bi-github"></i> Login with GitHub
    <% end %>
</div>